@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    background-color: #14213D   ;
    font-family: 'Righteous', cursive;
    color: #E5E5E5;
}

article{
    width: 80%;
    margin: auto;
}
article div{
    text-align: center;   
}
article img{
    max-width: 600px;
}
article h2{
    text-align: center;
}
@media only screen and (max-width: 700px){
    article{
        text-align: center;
    }
}
nav {
    background-color: #14213D;
    padding: 30px;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0;
    padding: 0  ;
}
nav li {
    list-style-type:none ;
    text-transform: uppercase;
}
nav a:link, nav a:visited{
    text-decoration: none;
    padding: 10px;
    color: #14213D;
    background-color: #fca311;
    border: 1.5px solid #14213D;
    transition: 0.5s all;
    border-radius: 5px;
}

nav a:hover, nav a:active {
    color: black;
    color: #fca311;
    background-color: #14213D;
    border: 1.5px solid #fca311;
}

@media screen and (max-width: 700px) {
    nav ul{
        grid-template-columns: 1fr;
        gap: 5px;
    }
    nav ul li{
        margin: 10px;
    }
}
body{
    padding: 0;
    margin: 0;
}

header{
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
}

nav{
    margin: 0;
    padding: 10px;
    width: 100%;
}

nav ul{
    display: grid;
    grid-template-columns: auto auto auto;
}

article{
    margin: 0;
    padding: 10px;
}


@media only screen and (max-width: 700px) {
    nav ul{
        grid-template-columns: auto;
    }

}